%section.content
  %article.book-review
    %figure= link_to(image_tag(book_review.image_url), book_review.url)
    %section.review
      %h2= book_review.book_title
      %p= book_review.body
    %section.info
      = display_tags_for(book_review)
