%section.content
  %article.book-review
    %figure
      %a{:href => "http://www.amazon.com/gp/product/080701429X/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=080701429X&linkCode=as2&tag=joshklinacom-20&linkId=25JXWKL6Q7WGVMZD"}
        %img{:border => "0", :src => "http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=080701429X&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=joshklinacom-20"}
      %img{:alt => "", :border => "0", :height => "1", :src => "http://ir-na.amazon-adsystem.com/e/ir?t=joshklinacom-20&l=as2&o=1&a=080701429X", :style => "border:none !important; margin:0px !important;", :width => "1"}

    %section.review
      %h2 Man's Search for Meaning
      %p I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. I liked this book very much. 
