%section.tools
  %h2 Tools
  %p A list of software and hardware that helps me get my work done.

  %article.tool
    %h3= link_to('Quiver', 'http://happenapps.com/#quiver', target: '_blank')
    %p This is an OSX only notes app that I use everyday. Quiver supports Markdown, syncing, handles code well, and also has Vim key bindings. For taxonomies Quiver has a tagging system built in as well as Notebooks, which are basically folders you can place your notes in. There are options to export and even the ability to turn your documents into a quick presentation. As an original user of nvALT, Quiver adds all my wishlist features.
    %p= link_to("[link]", 'http://happenapps.com/#quiver', target: '_blank')
