$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: 1.2em;

nav.admin {
  background-color: #5B5E63;
  display: block;
  overflow: auto;
  @include base-padding;
  @include outer-container(100%);

  a {
    color: #ffffff;

    &:hover {
      color: #FF9E61;
    }
  }

  ul {
    float: left;

    li {
      display: inline-block;
      margin-right: modular-scale(0);
    }
  }

  ul.login {
    float: right;
  }
}

h1 {
  font-size: modular-scale(3);
}

h2 {
  font-size: modular-scale(2);
}

section {
  @include base-padding;
  @include outer-container(100%);
}

.admin-title-header {
  h2 {
    display: inline-block;
  }

  a {
    position: relative;
    top: -5px;
    padding: modular-scale(-2);
    margin-left: modular-scale(1);
    background-color: #eee;
  }
}
