%article.post
  %section.content
    %h3= @post.title
    = preserve do
      = @post.body.html_safe
  %aside
    %section.bio
      %p Hi, I'm Josh. 
    %section.mailing.list
      %h3 Mailing list
      %p You could also add a mailing list form so visitors can subscribe.
