html {
  background: $background-color;
}

body {
  color: $text-color;
  font-family: $sans-serif-font;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
  font-weight: 300;
  color: $text-bold-color;
}


a {
  text-decoration: none;
  color: $header-text-color;

}

aside {
  @include span-columns(4);
}

video {
  height: 592px;
}

