nav.pagination {
  @include base-padding;

  margin: modular-scale(1) 0;

  span {
    background-color: $dark-background-color;
    padding: modular-scale(-4) modular-scale(-3);
    margin-right: modular-scale(-4);
    text-align: center;
    border: 1px dotted $border-color;
    display: inline-block;
    a {
      color: $text-bold-color;
    }

  }
}
