$navy-blue: #192330;
$light-blue: #F0F4F7;
$light-gray-blue: #E3E9ED;
$gray-blue: #C2CED7;
$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: 1.2em;

$background-color: #363636;
$dark-background-color: #2E2E2E;
$main-accent-color: #F0C800;
$border-color: rgb(93, 92, 92);
$text-bold-color: #eee;
$text-color: #A0A0A0;
$header-text-color: #9E9E9E;
$serif-font: "Merriweather", serif;
$sans-serif-font: "Merriweather Sans", sans-serif;
