%section.images
  .admin-title-header
    %h2 Images
    = link_to "Add New", new_admin_post_path
  %table 
    %thead
      %tr
        %th Title
    %tbody
      - @images.each do |image|
        %tr
          %td= "#{image.title}"
