- if model.errors.any?
  #error-explanation
    %h4
      = pluralize(model.errors.count, "error")
      prohibited this post from being saved:
    %ul
      - model.errors.full_messages.each do |msg|
        %li= msg
