%section.new-post
  .admin-title-header
    %h2 New Book Review
    = link_to "Back to Posts", admin_book_reviews_path
  = form_for @book_review, url: admin_book_reviews_path, method: :post do |f|
    = render partial: 'admin/shared/error_handler', locals: { model: @book_review }
    = render partial: 'form_fields', locals: { form: f }
